<content>
    <div class="bg-color-3 d-flex justify-content-center">Vous avez sélectionné le cocktail : {{ lastCocktail }}</div>
    <div class="padding-25 bg-color-1">
        <div class="row">
            <div class="col-12 d-flex justify-content-center f-large padding-b-25">
                <span class="titre">Tous les cocktails</span>
            </div>
            <div class="row">
                @for(item of cocktails; track item.id) {
                    <div class="col-3">
                        <app-cocktail [cocktail]="item" (eventOut)="onEvent($event)"></app-cocktail>
                    </div>
                }
            </div>
        </div>
    </div>
</content>
